<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1625&q=80);">
  <div class="container">
    <%= image_tag "logo.png", height: "100" %>
    <h1 id="new-h1">Le Wagon's Movie DB</h1>
    <p>Because Teachers and Students are real Movies Fans and enjoy watching a good one.</p>
    <%= link_to "Create a new List", new_list_path, class: "btn btn-gradient" %>
    <%= link_to "Back to Home", root_path, class: "btn btn-gradient" %>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 radius-12 bg-white shadow mt-5">
      <%= render 'form', list: @list %>
    </div>
  </div>
</div>
